<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="icon" sizes="32x32" href="images/favicon-32x32.png" />
    <link rel="icon" sizes="48x48" href="images/favicon-48x48.png" />
    <link rel="icon" sizes="96x96" href="images/favicon-96x96.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="SubExchange - Promote Your Youtube Channel, Get Free Subscribers, Views, Likes and Comments">
    <meta name="keywords" content="Promote Youtube Channel, Boost Youtube Channel, Sub4Sub, View4View, Like4like, Sub Exchange, View Exchange, Like Exchange">
    <meta name="robots" content="all, index, follow">
    <meta name="theme-color" content="#000000" />
    <link rel="canonical" href="https://subexchange.site">
    <title>SubExchange</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NVVPNJ3N24"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-NVVPNJ3N24');
    </script>
    <style>
    :root {
      --primary-color: #0600B4
    }
    .bg-primary {
      background-color: var(--primary-color)
    }
    .text-primary {
      color: var(--primary-color) !important;
    }
    section {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
    }
    section > * {
      margin-top: 10px;
    }
    .download-btn {
      width: 150px;
      border: none;
      background-color: var(--primary-color);
      color: white;
      padding: 5px 0;
      margin: 0 20px;
      font-weight: bold;
      border-radius: 10px;
      text-align: center;
      text-decoration: none;
    }
    .card-img {
      padding: 10px 0;
      width: 50px;
      object-fit: contain;
    }
    .card {
      border-radius: 10px;
      overflow: hidden;
      width: 100%;
    }
    .card-body {
      height: 200px;
    }
    .card-img-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      height: 150px;
      background-color: var(--primary-color);
      box-sizing: border-box;
      padding: 50px;
    }
    .how-it-work__card {
      border-radius: 10px;
      overflow: hidden;
      width: 100%;
      background-color: var(--primary-color);
      color: white;
      padding: 10px;
      box-sizing: border-box;
    }
    .how-it-work__card-img {
      width: 100%;
      border-radius: 10px;
      border: thin solid white;
    }
    .how-it-work__card-img-wrapper {
      width: 100%;
    }
    .card-title {
      margin-top: 10px;
    }
  </style>
</head>
<body>
<header style="box-sizing: border-box;" class="px-3 px-md-5 bg-primary">
    <nav class="navbar navbar-expand-md" >
        <div class="container-fluid">
            <a class="navbar-brand fw-bold fs-2 text-white" href="#">
                <img src="images/logo.png" alt="" width="50" height="50" class="rounded-1">
                SubExchange
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-white"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white fw-bold fs-5" aria-current="page" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white fw-bold fs-5" href="#our-service">Our Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white fw-bold fs-5" href="#how-it-works">How it works</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white fw-bold fs-5" href="#download">Download</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="px-3 px-md-5">
    <section id="home">
        <div class="d-flex justify-content-between align-items-center">
            <img src="./images/logo.png" alt="" width="50" height="50" class="rounded-1">
            <span class="text-primary fw-bold fs-1 ms-3">SubExchange</span>
        </div>
        <p class="fs-3 fw-bold">
            Get FREE Subscribers,Views, Likes, Comment to promote your Youtube channel
        </p>
        <p class="fs-4" style="text-align: justify;">
            <strong>SubExchange</strong> is a free mobile application that allows you to promote your Youtube channel, get free subscribers, views, likes, and comments through interaction exchanges with other users. Users must subscribe, view, like, or comment on other YouTube channels to earn coins, which can then be used to promote their own channels.
        </p>
    </section>
    <section id="our-service">
        <h1 class="text-primary">Our Service</h1>
        <div class="container-fluid text-center">
            <div class="row g-1 g-md-5">
                <div class="col-6 col-md-3">
                    <div class="card">
                        <div class="card-img-wrapper ">
                            <img src="./images/eye.png" class="card-img" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Get Free View</h5>
                            <p class="card-text">Exchange Youtube view with other Youtube videos to get free views on your Youtube video</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card">
                        <div class="card-img-wrapper">
                            <img src="./images/bell.png" class="card-img" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Get Free Subscribe</h5>
                            <p class="card-text">Exchange Youtube subscribe with other Youtube channel to get free channel on your Youtube channel</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card">
                        <div class="card-img-wrapper">
                            <img src="./images/like.png" class="card-img" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Get Free Like</h5>
                            <p class="card-text">Exchange Youtube like with other Youtube video to get free like on your Youtube video</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="card">
                        <div class="card-img-wrapper">
                            <img src="./images/comment.png" class="card-img" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Get Free Comment</h5>
                            <p class="card-text">Exchange Youtube comment with other Youtube video to get free comment on your Youtube video</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="how-it-works">
        <h1 class="text-primary">How it works</h1>
        <div class="container-fluid text-center">
            <div class="row g-1 g-md-5">
                <div class="col-6 col-md-3">
                    <div class="how-it-work__card">
                        <div class="how-it-work__card-img-wrapper ">
                            <img src="./images/img1.jpg" class="how-it-work__card-img" alt="...">
                        </div>
                        <div class="how-it-word__card-body">
                            <h5 class="card-title">Step 1 - Login</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="how-it-work__card">
                        <div class="how-it-work__card-img-wrapper">
                            <img src="./images/img2.jpg" class="how-it-work__card-img" alt="...">
                        </div>
                        <div class="how-it-word__card-body">
                            <h5 class="card-title">Step 2: Earn coin</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="how-it-work__card">
                        <div class="how-it-work__card-img-wrapper">
                            <img src="./images/img3.jpg" class="how-it-work__card-img" alt="...">
                        </div>
                        <div class="how-it-word__card-body">
                            <h5 class="card-title">Step 3: Add video</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-3">
                    <div class="how-it-work__card">
                        <div class="how-it-work__card-img-wrapper">
                            <img src="./images/img4.jpg" class="how-it-work__card-img" alt="...">
                        </div>
                        <div class="how-it-word__card-body">
                            <h5 class="card-title">Step 4: Manage video</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="download">
        <h1 class="text-primary">Download</h1>
        <div class="d-flex flex-column align-items-center">
            <p>Only Android verion is currently available. We are going to develop IOS version.</p>
            <div class="btn-group">
                <a type="button" class="download-btn" href="https://play.google.com/store/apps/details?id=com.elonmankdz.subexchange" target="_blank">Android</a>
                <a type="button" class="download-btn" style="background-color: gray;" disabled>IOS</a>
            </div>
        </div>
    </section>
</main>
<footer class="bg-primary px-3 px-md-5 py-3 text-white" style="margin-top: 20px; box-sizing: border-box;">
    <span>Contact via our Email: </span><strong>elonmankdz@gmail.com</strong>
    <br>
    <span>Read Privacy Policy: </span>
    <a href="https://sites.google.com/view/subexchangeprivacypolicy/home" target="_blank" class="text-white">Privacy Policy</a>
    <br>
    <span>Read Terms and Conditions: </span><a href="https://sites.google.com/view/subexchangetermsconditions/home" target="_blank" class="text-white">Terms and Conditions</a>
    <br>
</footer>
</body>
</html>